---
layout: default
---
<div class="row">
  <div class="col-xs-2 col-sm-1 col-md-2 col-lg-2">
  </div>
  <div class="col-xs-20 col-sm-16 col-md-14 col-lg-15">

    {% for post in paginator.posts %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>

        <div class="article-content">

          {{ post.content | truncatewords: 55 }}</p>

          <p><a href="{{ post.url }}">Read more »</a></p>
          <hr />

        </div>
      </article>

    {% endfor %}

  </div>

  <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
  </div>

  <aside class="col-sm-5 col-md-5 col-lg-4">

    <div class="other-posts hidden-xs">
      <h4>Other posts:</h4>
      <ul class="aside-text">
        {% for post in site.posts offset: 5 limit: 5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <hr />
    </div>

    <div class="aside-info">
      <h4>About:</h4>
      <p class="aside-text about">Hi, my name is Mike. I'm a&nbsp;web developer based in Poland. This site is going to be my blog and the playground. I hope you'll find some interesting articles here. Enjoy!</p>

      <h4>Contact:</h4>
      <div class="aside-text contact">
        <p><a href="mailto:hello@mike-studio.com"><span class="fa fa-envelope"></span> hello@mike-studio.com</a></p>
        <p><a href="http://codepen.io/mike-js/"><span class="fa fa-codepen"></span> /mike-js</a></p>
      </div>
     </div>

  </aside>

</div>


<div class="row paginate">

  <div class="col-xs-6 col-sm-5 col-md-7 col-lg-8">
  </div>

  <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 text-center paginate-nr">

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">« Prev</a>
    {% else %}
    <span class="last-page">« Prev</span>
    {% endif %}

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center paginate-nr">
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>

  <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 text-center paginate-nr">

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Next »</a>
    {% else %}
      <span class="last-page">Next »</span>
    {% endif %}

  </div>
 
</div>